@page "/Error"
@using System.Diagnostics

<PageTitle>Σφάλμα</PageTitle>

<h1 class="text-danger">Σφάλμα.</h1>
<h2 class="text-danger">Παρουσιάστηκε σφάλμα κατά την επεξεργασία του αιτήματός σας.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>ID Αιτήματος:</strong> <code>@RequestId</code>
    </p>
}

<h3>Λειτουργία Ανάπτυξης</h3>
<p>
    Η μετάβαση στο περιβάλλον <strong>Development</strong> θα εμφανίσει πιο λεπτομερείς πληροφορίες σχετικά με το σφάλμα που προέκυψε.
</p>
<p>
    <strong>Το περιβάλλον Ανάπτυξης δεν πρέπει να είναι ενεργοποιημένο για εφαρμογές που έχουν αναπτυχθεί (deployed).</strong>
    Μπορεί να οδηγήσει στην εμφάνιση ευαίσθητων πληροφοριών από εξαιρέσεις στους τελικούς χρήστες.
    Για τοπικό έλεγχο σφαλμάτων, ενεργοποιήστε το περιβάλλον <strong>Development</strong> ορίζοντας τη μεταβλητή περιβάλλοντος <strong>ASPNETCORE_ENVIRONMENT</strong> σε <strong>Development</strong>
    και επανεκκινήστε την εφαρμογή.
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
