<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Epsilon Πελάτες</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" title="Αρχική">
                <i class="bi bi-house-door-fill"></i>
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="customers" title="Πελάτες">
                        <i class="bi bi-people-fill"></i>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="api/auth/logout" method="post">
                        <AntiforgeryToken />
                        <button type="submit" class="nav-link btn btn-link w-100 text-start" title="Έξοδος (@context.User.Identity?.Name)">
                            <i class="bi bi-box-arrow-right"></i>
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login" title="Είσοδος">
                        <i class="bi bi-person-badge-fill"></i>
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

